@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4"><b><u>Welcome Friend!</u></b></h1>
        <p>Stay awhile and listen!</p>
        <p>Half price on <b>waffles!</b></p>
    </div>
